USE [DevCostingSheet]
GO
/****** Object:  StoredProcedure [dbo].[spGetStatusApproval]    Script Date: 8/24/2023 3:10:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER Procedure [dbo].[spGetStatusApproval] 
	-- Add the parameters for the stored procedure here
	@Id nvarchar(max),
	@username nvarchar(max),
	@table nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	-- select * from TransTechnical where id=203
	SET NOCOUNT ON;
	--declare @Id nvarchar(max)='6DD5DEDC-F0DD-42E4-B786-2B43D9A4D646',@table nvarchar(max)='TransTechnical',@username nvarchar(max)='fo5910155'
	declare @sublevel nvarchar(max),@SubID nvarchar(max)
	select @sublevel=Sublevel  from MasApprovAssign where EmpId=@username 
	set @Id = (select case when @Id ='' or @Id ='0' then newid() else @id end) 
	print @sublevel;
	if @table='Test'
		select 5 as 'Id','Send Approve' as 'Title' union
		select 3,'Reject'
	else
	begin
	declare @temp table (StatusApp nvarchar(max),RequestType nvarchar(max))
	declare @Status nvarchar(max)=0,@text nvarchar(max),@usertype nvarchar(max),@RequestType nvarchar(max)
	if (@table='TransTechnical')begin
		set @text='select StatusApp,RequestType from '+ @table +' where RequestType in (0,2,3) and UniqueColumn='''+@Id +''''
		select @usertype =usertype,@RequestType=RequestType,@SubID=ID from TransTechnical where RequestType in (0,2,3) and UniqueColumn=@Id 
		end
	else
		set @text='select StatusApp,0 from '+ @table +' where UniqueColumn='''+@Id +''''
	--print @text
	insert into @temp
	exec sp_executesql @text
	set @Status=isnull((select StatusApp from @temp),case when @table='TransTechnical'then '0' else '2'end)
	print @usertype
    -- Insert statements for procedure here
	declare @sql NVARCHAR(MAX)
	SET @sql = 'select * from (select * from MasStepApproval where Id in (' +
	case when @table='TransTechnical'
        then case
            when @Status in (0,-1) then'''1'''
            when @Status in (1) and @usertype in (0,1) then 
				(case when (select RequestType from @temp)='3' then '''9''' else '''2''' end) +',''3'',''5'''
			when @Status in (1) and @usertype in (2,3,4,5,6,7,8) then 
				(case when (select RequestType from @temp)='3' then '''9''' else '''6''' end) +',''3'',''5'''
			when @Status in (5) and @RequestType in (3) then '''9'',''3'''
			when @Status in (5) and @RequestType in (0,2) then '''10'',''7'',''3'''
			--when @Status in (7) then '''4'', ''3'''--Accept Lab RD
			--when @Status in (8) then '''2'''--submit Lab RD
			when @Status in (7,8) then dbo.fnc_GetLabActive(@SubID)
			when @Status in (6,10) then '''2'', ''3'''--PD
			when @Status in (2) then '''4'', ''3'''
			when @Status in (9) then '''5'', ''3'''--when @Status in (10) then '''2'', ''3''' 
			end
	when @table in ('TransQuotationHeader','TransTunaStd')
			then case 
            when @Status in (2,-1,0) then '''1'''
            when @Status in (3) then '''2'', ''3''' 
			when @Status in (8,9) then '''4'', ''3''' end
	when @table in ('TransRequestForm')
			then case 
            when @Status in (2,-1) then '''1'''
			when @Status in (1) then '''5'', ''3'''
            when @Status in (3,5,17,18,8) then '''4'', ''3''' end
	else
			case 
            when @Status in (2,-1) then '''1'''
			when @Status in (5) then '''5'''
            when @Status in (3,0) then '''4'', ''3''' 
			when @Status in (8) then '''4'', ''3''' end
    end
	     + ') union select '''','''','''' )#a ORDER BY CASE Id WHEN 3 THEN 99 else Id END'
		print @sql
		EXEC sp_executesql @sql
	end
END
  