USE [DevCostingSheet]
GO
/****** Object:  StoredProcedure [dbo].[spGetRequester]    Script Date: 9/15/2023 2:21:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[spGetRequester]
	-- Add the parameters for the stored procedure here
	@RequestNo nvarchar(max)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	If Object_ID('tempdb..#ulogin')  is not null  drop table #ulogin
	select concat(u.FirstName,' ',u.LastName) fn,user_name into #ulogin from ulogin u
    -- Insert statements for procedure here
	select b.RequestNo,(select fn from #ulogin u where u.user_name=b.Requester)'Requester',
	(select fn from #ulogin u where u.user_name=b.Receiver)'Receiver', a.DocumentNo, a.RefSamples
	from TransRequestForm a inner join TransTechnical  b on b.ID= a.RequestNo where a.ID=@RequestNo
END