USE [DevCostingSheet]
GO
/****** Object:  StoredProcedure [dbo].[spGetComponent]    Script Date: 9/15/2023 4:31:15 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
 
ALTER PROCEDURE [dbo].[spGetComponent]
	-- Add the parameters for the stored procedure here
	@Plant nvarchar(max),
	@Category nvarchar(max),
	@Id nvarchar(max),
	@action nvarchar(max),
	@user nvarchar(max)
AS
BEGIN

	--declare @action nvarchar(max)=5,	@user nvarchar(max)='FO5910155',@Id nvarchar(max)='AE8343BD-EAF9-4061-86B9-767C5D9790C9', @Plant nvarchar(max)='1033', @Category nvarchar(max)=''
	-- SET NOCOUNT ON added to prevent extra result sets from
	declare @userlist nvarchar(max),@Bu nvarchar(max) = @Plant,--@sublevel nvarchar(max),
	@statusapp nvarchar(max),@position nvarchar(max),
	@CreateBy nvarchar(max),
	@RequestNo nvarchar(max),
	@usertype nvarchar(max),
	@Company nvarchar(max) ='',@Receiver nvarchar(max)

	select @statusapp =Statusapp,@CreateBy=Requester,@RequestNo=ID,@usertype=usertype,
	@Receiver=Receiver from TransTechnical where RequestType in (0,1,2,3) and UniqueColumn=@Id
	If Object_ID('tempdb..#temp')  is not null  drop table #temp
	-- interfering with SELECT statements.
	if (@Category <>'')
	select @usertype=usertype,
	@Bu=(case when isnull(Receiver,'')='' then @Bu else
		Receiver end) from MasPetCategory where ID=@Category
	print @Bu;

	--select * from MasPetCategory
	SET NOCOUNT ON;
	declare @table table ([user_name] nvarchar(max),[Description] nvarchar(max))
	SELECT [user_name],firstname +' '+ lastname as fn,userlevel,sublevel,BU into #temp from ulogin where IsResign=0
	and @usertype in (select value from dbo.FNC_SPLIT(usertype,';'))

	if(@action=5)begin
	set @userlist =dbo.fnc_getuser(5,@Bu,@usertype)--RDS(7)
	insert into @table
	SELECT [user_name],fn from #temp where [user_name] in (select value from dbo.FNC_SPLIT(@userlist,',')) --and BU=@Bu
	--union select '9','Stage Gate'
	--union select [user_name],firstname +' '+ lastname as fn from ulogin where [user_name]='FO5910155'
	--insert into @table values(0,'none')
	end
	if(@action=3)begin
		if(@statusapp in (2,6))begin
		insert into @table
		SELECT [user_name],fn from #temp where [user_name] in ( select value from dbo.FNC_SPLIT(@CreateBy,',') union
		select ActiveBy from TransApprove where levelApp in (1,6) and tablename=0 and RequestNo=@RequestNo)
	--	select * from  TransApprove where RequestNo=6972
		end
		if(@statusapp=1)begin
		insert into @table
		SELECT [user_name],fn from #temp where [user_name] in (
		select distinct Username from MasHistory where tablename='TransTechnical' and RequestNo=@RequestNo)
		end
		if(@statusapp=5)begin
		insert into @table
		SELECT [user_name],fn from #temp where [user_name] in (
		select distinct Username from MasHistory where StatusApp in (5) and tablename='TransTechnical' and RequestNo=@RequestNo)
		end
		if(@statusapp=7)begin
		insert into @table
		SELECT [user_name],fn from #temp where [user_name] in (@Receiver)
		end
	end
	if(@action=6 or @action=1)begin
		set @userlist =dbo.fnc_getuser('1,2,3,4',@Bu,@usertype)
		insert into @table
		--select ROW_NUMBER() OVER(ORDER BY value ASC),value from dbo.FNC_SPLIT('CD','')
		SELECT [user_name],fn from #temp where [user_name] in
		(select value from dbo.FNC_SPLIT(@userlist,',')) and [user_name] <>@user end
	if(@action=7)begin
		set @userlist =dbo.fnc_getuser('14',@Bu,@usertype)
		insert into @table
		--select ROW_NUMBER() OVER(ORDER BY value ASC),value from dbo.FNC_SPLIT('CD','')
		SELECT [user_name],fn from #temp where [user_name] in
		(select value from dbo.FNC_SPLIT(@userlist,',')) and [user_name] <>@user end
	--else	
	--begin
	--declare @sub nvarchar(max) = case when @sublevel in ('1','2') then '3,4' else '1,2' end
	--set @userlist =dbo.fnc_getuser(@sub,@Bu,@usertype)
	--insert into @table
	--SELECT [user_name],fn from #temp where [user_name] in
	--	(select value from dbo.FNC_SPLIT(@userlist,',')) --and BU=@Bu
	--end
	select [user_name],[Description] from(select * from @table 
	--union SELECT [user_name],firstname +' '+ lastname as fn from ulogin where [user_name]='MO330303'
	)#a
	order by [Description]
END



 
 