USE [DevCostingSheet]
GO
/****** Object:  StoredProcedure [dbo].[spGetCompoEditForm]    Script Date: 9/15/2023 4:31:45 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[spGetCompoEditForm]
	-- Add the parameters for the stored procedure here
	@Id nvarchar(max),
	@action nvarchar(max),
	@user nvarchar(max)
AS
BEGIN
	--declare @action nvarchar(max)=5,	@user nvarchar(max)='FO5910155',@Id nvarchar(max)='58D5E4D7-88A9-42EA-BD2E-7178E6F436DC'
	-- SET NOCOUNT ON added to prevent extra result sets from
	
	declare @userlist nvarchar(max),@Bu nvarchar(max),
	@statusapp nvarchar(max),@position nvarchar(max),@trf nvarchar(max),
	@CreateBy nvarchar(max),
	@RequestNo nvarchar(max),
	@usertype nvarchar(max),
	@Company nvarchar(max) ='',@Receiver nvarchar(max)
	select @RequestNo=id,@trf=a.RequestNo from TransRequestForm a where a.UniqueColumn= @Id
	select @statusapp =Statusapp,@CreateBy=Requester,@usertype=usertype,@Bu=Company,
	@Receiver=Receiver from TransTechnical where RequestType in (0,1,2,3) and ID = @trf
	print @bu;
	If Object_ID('tempdb..#temp')  is not null  drop table #temp

	SET NOCOUNT ON;
	declare @table table ([user_name] nvarchar(max),[Description] nvarchar(max))
	SELECT [user_name],firstname +' '+ lastname as fn,userlevel,sublevel,BU into #temp from ulogin where IsResign=0
	and @usertype in (select value from dbo.FNC_SPLIT(usertype,';'))

	if(@action=5)begin
	set @userlist =dbo.fnc_getuser(5,@Bu,@usertype)--RDS(7)
	insert into @table
	SELECT [user_name],fn from #temp where [user_name] in (select value from dbo.FNC_SPLIT(@userlist,',')) --and BU=@Bu
	end
	if(@action=3)begin
		if(@statusapp in (2,6))begin
		insert into @table
		SELECT [user_name],fn from #temp where [user_name] in ( select value from dbo.FNC_SPLIT(@CreateBy,',') union
		select ActiveBy from TransApprove where levelApp in (1,6) and tablename=0 and RequestNo=@RequestNo)
		end
		if(@statusapp=1)begin
		insert into @table
		SELECT [user_name],fn from #temp where [user_name] in (
		select distinct Username from MasHistory where tablename='TransRequestForm' and RequestNo=@RequestNo)
		end
		if(@statusapp=5)begin
		insert into @table
		SELECT [user_name],fn from #temp where [user_name] in (
		select distinct Username from MasHistory where StatusApp in (5) and tablename='TransRequestForm' and RequestNo=@RequestNo)
		end
		if(@statusapp=7)begin
		insert into @table
		SELECT [user_name],fn from #temp where [user_name] in (@Receiver)
		end
	end
	if(@action=6 or @action=1)begin
		set @userlist =dbo.fnc_getuser('1,2,3,4',@Bu,@usertype)
		insert into @table
		SELECT [user_name],fn from #temp where [user_name] in
		(select value from dbo.FNC_SPLIT(@userlist,',')) and [user_name] <>@user end
	if(@action=7)begin
		set @userlist =dbo.fnc_getuser('14',@Bu,@usertype)
		insert into @table
		SELECT [user_name],fn from #temp where [user_name] in
		(select value from dbo.FNC_SPLIT(@userlist,',')) and [user_name] <>@user end
	select [user_name],[Description] from(select * from @table 
	)#a
	order by [Description]
END