USE [DevCostingSheet]
GO
/****** Object:  StoredProcedure [dbo].[spsender]    Script Date: 8/24/2023 3:09:26 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--/****** Script for SelectTopNRows command from SSMS  ******/
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER Procedure [dbo].[spsender]
	-- Add the parameters for the stored procedure here
	@Id nvarchar(max),
	@User nvarchar(max),
	@StatusApp nvarchar(max),
	@table nvarchar(max),
	@AppStatus nvarchar(max)
AS
BEGIN
	--declare @Id nvarchar(max)=1664,@user nvarchar(max)='FO5910155',@statusapp nvarchar(max)='4',@table nvarchar(max)='TransTunaStd',@AppStatus nvarchar(max)='9'
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	If Object_ID('tempdb..#temp')  is not null  drop table #temp
	Create Table #temp (MailID int,MailTo nvarchar(max),MailCc nvarchar(max)) 
	declare @RequestType nvarchar(max),@Receiver nvarchar(max),@Requester nvarchar(max),
	@assignee nvarchar(max),
	@Company nvarchar(max),
	@Requestfor nvarchar(max),
	@Category nvarchar(max),
	@LabBy nvarchar(max)
	declare @mytable tabletype
	declare @folio nvarchar(max),@status nvarchar(max)
	declare @cols AS nvarchar(MAX),@Cc nvarchar(max),@usertype nvarchar(max)
	select @usertype=usertype from ulogin where [user_name]=@User and IsResign=0
    -- Insert statements for procedure here
	if(@table='TransTechnical')
	begin
	SELECT @RequestType=isnull(RequestType,0),@Receiver=isnull(Receiver,''),@Company=Company,@usertype=usertype,
	@Category=PetCategory,
	@Requester=Requester,
	@assignee=isnull(Assignee,''),
	@Requestfor=Requestfor,
	@LabBy=isnull(LabBy,'') from TransTechnical where Id=@Id

	if @RequestType in (0,3)
	begin
		if(@StatusApp in (1,4,5,7,9,10))	--case tuf using rd tum 
		set @Company = (select case when isnull(Receiver,'')='' then @Company else
		Receiver end from MasPetCategory where ID=@Category)
		if (@statusapp in (1,6,7,9,10))
		begin
		SET @cols = dbo.fnc_getuser(6,@Company,@usertype)
			if (@StatusApp=1)
				if(@AppStatus=5)
				insert into #temp values (@Id,@cols,'')
				else
				insert into #temp values (@Id,@cols,@Receiver+','+@assignee)
			else if(@StatusApp in (7)) begin--send pic rd lab
				--SET @cols = dbo.fnc_getuser(14,@Company,@usertype)
				insert into #temp 
				values (@Id,@labBy,'')
				end
			else if(@StatusApp=9)
					insert into #temp values(@Id,case when @assignee='' then @Requester else @Requester+','+@assignee end,@cols)
			else if(@StatusApp=10)
					insert into #temp values (@Id,@cols,'')
			else if (@Statusapp in (6))--send pd
					insert into #temp values(@Id,dbo.fnc_getuser(16,@Company,@usertype),'')
			else if (@Statusapp in (8))begin--send planning
					SET @cols = dbo.fnc_getuser(13,@Company,@usertype)
					insert into #temp values(@Id,@cols,dbo.fnc_getuser(8,@Company,@usertype))
				end
			else if(@StatusApp in (7))
				insert into #temp 
				values (@Id,@Receiver,case when @assignee='' then @Requester else @assignee+','+@Requester+','+@cols end)
			end
		else if @statusapp=2 --send by rdm 
			if(@RequestType=3 and @AppStatus <> 7) --request sample product
				insert into #temp 
				values(@Id,case when @assignee='' then @Requester else @Requester+','+@assignee end,@cols)
			else if(@AppStatus in (7))	--send back pic rd
				insert into #temp values(@Id,@Receiver,'')
			else
			begin--request costing
				SET @cols = dbo.fnc_getuser(7,@Company,@usertype)
				insert into #temp values(@Id,@cols,dbo.fnc_getuser(8,@Company,@usertype))
			end
		else if (@statusapp in (3))
			begin
			declare @RejectId nvarchar(max),@Reason nvarchar(max)  
			set @RejectId = (select max(Id) from mashistory where requestno=@Id and username=@User and tablename=@table and statusapp=@statusapp)
			set @Reason = (select Reason from mashistory where ID=@rejectId)
			if (select count(*) from dbo.fnc_split(@reason,'|'))>1 begin
				set @requester =(select value from dbo.fnc_split(@reason,'|') where idx=2) 
				insert into #temp values(@Id,@Requester,@user)
			end 
			end
		else if (@statusapp in (4))
			if(@AppStatus in (7))	--send back pic rd
				insert into #temp values(@Id,@Receiver,'')
			else
			begin--accept by costint team
			delete @mytable;
			insert into @mytable
			select Username from MasHistory where RequestNo=@Id and tablename=@table
			SET @cols = dbo.fnc_stuff(@mytable)
			--SET @cols = dbo.fnc_getuser(6,@Company,@usertype)
				if len(@Requester)>0 and len(@assignee)>0
					SET @cols = @cols +','+ dbo.fnc_getuser(2,@Company,@usertype)
		end
		else if (@statusapp in (5))--assign marking & project
			insert into #temp 
			values(@Id,@Receiver,case when @assignee='' then @Requester else @Requester+','+@assignee end)
	end
	else if @RequestType=1
	begin
		if @statusapp=2
		begin
			SET @cols = dbo.fnc_getuser(7,@Company,@usertype)
		end
		if @StatusApp in (4,-1) 
		begin
			insert into #temp values(@Id,@Requester+','+@assignee,'')
		end
	end
	else if @RequestType=2
	begin
		if (@statusapp in (1,7))--send to costing team
		begin
			SET @cols = dbo.fnc_getuser(7,@Company,@usertype)
		end
		else if (@statusapp in (3,4))--accept
			insert into #temp values (@Id,@Requester,@assignee)
		end
	end
	else if (@table='TransQuotationHeader')
	begin
		if(@StatusApp=8 and @AppStatus=0)--mgr marketing apv
		begin
			set @usertype =(select usertype from ulogin where [user_name]=@user)
			insert into @mytable 
			select user_name from ulogin where dbo.fnc_checktype(@usertype,usertype)>0 and user_name in (
			select empid from MasApprovAssign where Sublevel=4)
			SET @cols = dbo.fnc_stuff(@mytable)
		end
		else if(@StatusApp=9 and @AppStatus=8)--mgr costing apv
		begin
			insert into @mytable
			select user_name from ulogin where dbo.fnc_checktype(@usertype,usertype)>0 and user_name in (
			select empid from MasApprovAssign where Sublevel=11) 
			SET @cols = dbo.fnc_stuff(@mytable)
		end
		else if(select isnull(statusapp,0) from TransQuotationHeader where ID=@Id)=4
		begin
			If Object_ID('tempdb..#t')  is not null  drop table #t
			select distinct RequestNo into #t from TransQuotationItems where SubID=@Id
			insert into @mytable
			select  distinct ',' + Username from mashistory where tablename='TransQuotationHeader' and RequestNo=@Id 
			SET @cols = dbo.fnc_STUFF(@mytable)
		end
		else if (@statusapp in (3)) begin
			insert into @mytable
			select Username from MasHistory where RequestNo=@Id and tablename='TransQuotationHeader'
			SET @cols = dbo.fnc_stuff(@mytable)
		end

	end
	--else if @table='TransCostingHeader'
	--begin
	--SELECT @Company=SUBSTRING(Company,1,3),@folio=RequestNo,@usertype=usertype,
	--	@status=StatusApp from TransCostingHeader where Id=@Id
	--if @usertype in (0) 
	--begin
	--	if (@statusapp=3)--Reject
	--	begin
	--		--If Object_ID('tempdb..#col')  is not null  drop table #col
	--		insert into @mytable
	--		select [user_name] from ulogin where dbo.fnc_checktype(usertype,@usertype)>0 and IsResign=0 and [user_name] in (select value from dbo.FNC_SPLIT(
	--		(select CreateBy+';'+ isnull(ModifyBy,'')  from TransCostingHeader b where b.Id=@Id),';'))
	--		set @cols = dbo.fnc_stuff(@mytable)
	--		declare @c nvarchar(max)= dbo.fnc_getuser(8,@Company,@usertype) 
	--		insert into #temp values(@Id,@cols,@c)
	--	end
	--	else if(@statusapp=1 and @status=3)--send approve
	--	begin
	--		SET @cols = dbo.fnc_getuser(9,@Company,@usertype)
	--		insert into #temp values(@Id,@cols,'')
	--	end
	--	else if(@statusapp in (2,4) and @status=0)--send marketing 
	--	begin
	--		set @Cc =dbo.fnc_getuser(7,@Company,@usertype)
	--		set @cols=(select Requester +','+ isnull(assignee,'') +
	--		 (case when substring(Company,1,3)='103' then ','+ isnull(Receiver,'') else '' end) from TransTechnical where ID=@folio)
	--		if len(@cols)>0
	--		begin
	--			declare @ActiveBy nvarchar(max)= (select top 1 ActiveBy from TransApprove where RequestNo=@folio and levelApp=1 and tablename=0)
	--			set @cols = (case when right(@cols,1)=',' then @cols  else @cols +','  end) +''+ case when len(@ActiveBy) >0 then @ActiveBy else '' end
	--		end--print @cols;
	--		insert into #temp values(@Id,@cols,@Cc)
	--	end
	--	else if(@Status=4 and @StatusApp<>8)
	--	begin
	--		insert into @mytable
	--		SELECT distinct ',' + (c.ActiveBy) 
	--			FROM TransApprove c where  c.tablename='1' and c.RequestNo=@Id and c.ActiveBy !=''
	--		SET @cols = dbo.fnc_STUFF(@mytable)
	--		--If Object_ID('tempdb..#table')  is not null  drop table #table
	--		delete @mytable;insert into @mytable
	--		select * from(select Receiver from TransTechnical where ID=@folio 
	--		union select [user_name] from ulogin where usertype=@usertype and [user_name] in(select [EmpId] from MasApprovAssign where Sublevel=6)
	--		and BU like '%'+@Company+'%' and IsResign=0)#a
	--		set @Receiver = dbo.fnc_STUFF(@mytable)
	--		insert into #temp values(@Id,@cols,@Receiver)
	--	end
	--end
	--else if @usertype in (1,2,3,4,5,6,7,8)
	--begin
	--	select @cols = Requester +','+ isnull(assignee,'') ,
	--		@Cc = '' from TransTechnical where ID=@folio
	--	insert into #temp values(@Id,@cols,'')
	--	end
	--end
	else if @table='TransTunaStd' 
	begin
		if (@StatusApp=3 or @StatusApp=4) begin
		insert into @mytable
		SELECT distinct ',' + (c.Username) 
              from MasHistory c where tablename=@table and RequestNo=@Id and c.Username not	in ((select CreateBy from TransTunaStd where Id=@Id))
		set @cols = dbo.fnc_stuff(@mytable)
		end
		else if (@StatusApp in (9,4) and @AppStatus in (8,0) and (select count(*) from TransTunaStdItems where RequestNo=@Id and IsAccept like 'level%')>0)
		begin
			declare @tempapp table(empid nvarchar(30),l1 nvarchar(max),l2 nvarchar(max))
			insert into @tempapp
			--exec spbuildApprove @User
			select * from(SELECT empid,   
			  isnull([L1],'') as 'L1', isnull([L2],(select LevelApprove from StdApprove where EMPID=[L1]))  as 'L2'
			FROM  
			(
			  SELECT Position, LevelApprove,empid   
			  FROM StdApprove
			) AS SourceTable  
			PIVOT  
			(  
			  max(LevelApprove)  
			  FOR Position IN ([L1], [L2])  
			) AS PivotTable) #a where EMPID=@user;


		end
		else if (@StatusApp in (4,9) and @AppStatus=9) or (@StatusApp in (2,1) and @AppStatus=0) begin --//complete
			insert into #temp values(@Id,@User,(select CreateBy from TransTunaStd where Id=@Id))
		end
		else
			insert into #temp values(@Id,@User,'')
		
	end
	else if (@table='TransRequestForm') begin
		if (@StatusApp in (4,9) and @AppStatus=0)   begin
			insert into #temp values(@Id,@Requester,@User)
		end 
		else if (@StatusApp in (8) and @AppStatus=8)   begin
			SET @cols = dbo.fnc_getuser(17,@Company,@usertype)
		end
		else if (@StatusApp in (4) and @AppStatus=17)   begin
			insert into #temp values(@Id,@user,(SELECT STUFF((SELECT ',' + username FROM dbo.fnc_getHistory('TransRequestForm',@User,@Id) where username <> 'CP6290003' FOR XML PATH('')), 1, 1, '')))
		end
		else if (@StatusApp in (4) and @AppStatus=18)   begin
			insert into #temp values(@Id,@user,(SELECT user_name from ulogin l 
			join TransTechnical tt on l.user_name = tt.Requester
			where tt.ID = (select top 1 requestNo from TransRequestForm where id = @id)))
		end
		else
			insert into #temp values(@Id,@User,'')
	end
	else if @table='TransCostingHeader'
	begin
	SELECT @company=(select a.Company from TransTechnical a where a.ID=TransCostingHeader.RequestNo),@folio=RequestNo,@usertype=usertype,
		@status=StatusApp from TransCostingHeader where Id=@Id
		if (@statusapp=3)--Reject
		begin
			--If Object_ID('tempdb..#col')  is not null  drop table #col
			insert into @mytable
			select [user_name] from ulogin where dbo.fnc_checktype(usertype,@usertype)>0 and IsResign=0 and [user_name] in (select value from dbo.FNC_SPLIT(
			(select CreateBy+';'+ isnull(ModifyBy,'')  from TransCostingHeader b where b.Id=@Id),';'))
			set @cols = dbo.fnc_stuff(@mytable)
			declare @c nvarchar(max)= dbo.fnc_getuser(8,@Company,@usertype) 
		end
		else if(@statusapp=1 and @status=0)--send to MKT
		begin
		select @cols = Requester +','+ isnull(assignee,'') ,
			@Cc = '' from TransTechnical where ID=@folio
		end
		else if(@statusapp=1 and @status=3)--send approve
		begin
			declare @Requestno nvarchar(max) 
			set @Requestno=(select requestno from TransCostingHeader b where b.Id=@Id)
			set @Requester=(select Requester from TransTechnical where Id=@Requestno)
			declare @temp TableType
			insert into @temp
			select distinct sublevel from ulogin where dbo.fnc_checktype([user_name],@Requester)>0
			DECLARE @sublevel AS NVARCHAR(MAX);
			SET @sublevel = dbo.FNC_STUFF(@temp)
			if(len(@sublevel))>5
			begin
			insert into @temp
			select value from dbo.FNC_SPLIT((dbo.fnc_getuser(9,@Company,@usertype)),',') 
			where dbo.fnc_checktype(@sublevel,value)>0
			SET @cols = dbo.FNC_STUFF(@temp)
			end 
			else
			SET @cols = dbo.fnc_getuser(9,@Company,@usertype)
		end
		else if(@statusapp in (2,4) and @status=0)--send marketing 
		begin
			set @Cc =dbo.fnc_getuser(7,@Company,@usertype)
			set @cols=(select Requester +','+ isnull(assignee,'') +
			 (case when Company='1031' then ','+ isnull(Receiver,'') else '' end) from TransTechnical where ID=@folio)
			if len(@cols)>0
			begin
				declare @ActiveBy nvarchar(max)= (select top 1 ActiveBy from TransApprove where RequestNo=@folio and levelApp=1 and tablename='0')
				set @cols = (case when right(@cols,1)=',' then @cols  else @cols +','  end) +''+ case when len(@ActiveBy) >0 then @ActiveBy else '' end
			end--print @cols;
		end
		else if(@Status=4 and @StatusApp<>8)
		begin
			insert into @mytable
			SELECT distinct ',' + (c.ActiveBy) 
				FROM TransApprove c where  c.tablename='1' and c.RequestNo=@Id and c.ActiveBy !=''
			SET @cols = dbo.fnc_STUFF(@mytable)
			--If Object_ID('tempdb..#table')  is not null  drop table #table
			delete @mytable;insert into @mytable
			select * from(select Receiver from TransTechnical where ID=@folio 
			union select [user_name] from ulogin where usertype=@usertype and [user_name] in(select [EmpId] from MasApprovAssign where Sublevel=6)
			and dbo.fnc_checktype(Plant,@Company)>0 and IsResign=0)#a
			set @Receiver = dbo.fnc_STUFF(@mytable)
		end
	end
	select * from #temp
END