USE [DevCostingSheet]
GO
/****** Object:  UserDefinedFunction [dbo].[FindULevel]    Script Date: 8/24/2023 3:10:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER FUNCTION [dbo].[FindULevel](@User nvarchar(max)
)
RETURNS @Mytbl  TABLE (idx smallint, ulevel nvarchar(max),editor nvarchar(max)--,Bu nvarchar(max)
,Sublevel nvarchar(max),SubApp nvarchar(max))  
AS
BEGIN
	--declare @User nvarchar(max)='MO330303'
	declare @usertype nvarchar(max),@plant nvarchar(max)
	select @plant=Plant, @usertype=usertype from ulogin where [user_name]=@User
		insert into @Mytbl 
		select c.ApprovId,
		(select abc =STUFF(((SELECT DISTINCT  ',' + EmpId
		FROM MasApprovAssign a left join ulogin b on b.user_name=a.EmpId
		WHERE a.Sublevel in (select value from dbo.FNC_SPLIT(#a.Sublevel,',')) 
		and dbo.fnc_checktype(b.Plant,@plant)>0 
		and EmpId in (select user_name from ulogin where dbo.fnc_checktype(usertype,@usertype)>0)   FOR XML PATH(''))), 1, 1, '')) ulevel, 
		dbo.fnc_userlist(c.Id,@User,@usertype) editor,
		--dbo.fnc_getBu(Bu,c.IsBu),
		c.Id,dbo.fnc_applist(c.Id,c.ApprovId,@User) SubApp from(select empid,[FirstName]
			,[LastName],a.Sublevel,b.BU,b.Plant from masApprovAssign a left join ulogin b on b.user_name=a.empid 
			where a.empid=@User --and b.BU=@Bu
			)#a left join MasSublevel c on c.Id=#a.Sublevel 
RETURN 
END


 